<!--Terminos y Condiciones de Uso-->
<div class="card mx-auto text-center" style="width: 55rem; padding:0px 0px 45px 0px; margin-top:35px">
    <!-- Title of the page-->
    <div class="card-header text-left" style="padding:25px">
        <h2>Políticas de Privacidad</h2>
    </div>
    <div class="card-body" style="padding:20px 30px 25px 30px">
        <p class="text-justify">
            Política de Privacidad
        </p>
        <p class="text-justify">
           
            En Trueques@UCR nos tomamos con la mayor seriedad sus derechos de privacidad y deseamos que usted se sienta cómodo utilizando nuestro sitio web. Las políticas de privacidad aquí enunciadas se refieren a la información personal identificable (designada “datos” abajo) que recolectamos en nuestro sitio sobre usted. Dichas políticas no aplican a otras entidades que no estén bajo nuestro control, o a personas que no sean empleados nuestros. Agradecemos que se tome el tiempo para leer nuestras condiciones de uso.
        </p>
        <p class="text-justify">
            1. Recolección de datos: 
            Nuestro proceso inicial de registro requiere de una dirección válida de correo electrónico y una contraseña. Posteriormente, cuando se valida el correo electrónico, se le pide completar el registro con una serie de datos (los que tienen asterisco son requeridos u obligatorios, los demás son opcionales). Tome nota de que su nombre de usuario, su dirección de correo, u otros datos que usted ingrese en este sitio pueden contener su nombre verdadero u otra información personal identificable y, consecuentemente, podrían aparecer públicamente a otros usuarios de este sitio. Como muchos sitios de Internet, podemos también recibir automáticamente la información de carácter general como su dirección IP o información de cookies. También podemos enviarle notificaciones o mensajes de usuarios interesados en su trueques a través del correo que usó para registrarse. Puedes cancelar el envío de estas notificaciones cuando lo desee.
        </p>
        <p class="text-justify">
            2. Consentimiento de uso de la información:
            El registro de cuenta y la publicación de productos o trueques implica que la información del anunciante estará disponible públicamente en nuestro sitio, con el fin de facilitar a los potenciales usuarios interesados contactar al ofertante.
        </p>
        <p class="text-justify">
            3. Condiciones del consentimiento y eliminación de cuenta: 
            Los usuarios registrados que deseen la eliminación de su cuenta, pueden solicitarlo a través de la aplicación. Este proceso puede tardar entre 3 y 5 días hábiles. Cuando la eliminación sea procesada, el usuario recibirá un correo electrónico confirmando la eliminación de la cuenta, e indicando la posibilidad de reactivación por un periodo de tres meses. A partir de ese momento, el usuario no podrá ingresar más al sistema, a menos que use la opción de reactivar cuenta. Es importante recalcar que al eliminar la cuenta, automáticamente se cancelarán todos los trueques asociados a la cuenta, y se le notificará a los usuarios que estaban participando en trueques activos al momento de la eliminación de la cuenta, sobre la cancelación de la operación. La información del usuario quedará almacenada por un periodo de 3 meses en nuestros servidores, para facilitar una posible reactivación de la cuenta a futuro, en caso que se el usuario así lo desee. Después de este tiempo, el usuario no podrá una reactivación de su cuenta anterior, sino que deberá registrarse nuevamente como un usuario nuevo.
        </p>
        <p class="text-justify">
            4. Uso de datos: 
            Podemos utilizar sus datos para mejorar su experiencia de usuario de nuestro sitio. Haremos todo lo posible para que sus datos no sean proporcionados a terceros a menos que:
            4.1. sea requerido por las autoridades legales competentes del país;
            4.2. encontremos que con el uso de este sitio usted viola nuestras políticas, términos de servicio, pautas de uso, o según lo juzgado razonablemente necesario por nosotros, para proteger nuestros derechos legales o de propiedad;
            4.3. este sitio sea comprado por terceros, en cuyo caso esos terceros podrán utilizar los datos de manera semejante a nosotros, según lo dispuesto en esta política.
        </p>
        <p class="text-justify">
            5. Cookies: 
            Como muchos sitios de Internet, utilizamos cookies para mejorar su experiencia de usuario, tal como recordar sus ajustes personales. Para más información sobre las cookies refiérase a http://es.wikipedia.org/wiki/Cookie
        </p>
        <p class="text-justify">
            6. Niños: 
            No permitimos a personas menores de dieciocho (18) años a ser usuarios de este sitio.
        </p>
        <p class="text-justify">
            7. Corregir información de su cuenta: 
            Usted puede corregir o cambiar cualquier información de su cuenta que usted proporcionó al registrarse en nuestro sitio. Para ello, debe dirigirse a la página de su cuenta o perfil de usuario, y dar clic en la opción de Editar. Luego puede cambiar cualquiera de los cambios que se muestran, incluyendo su foto de perfil.
        </p>
        <p class="text-justify">
            8. Cambios a las políticas de privacidad: 
            Podemos realizar cambios a estas políticas de privacidad en cualquier momento. Le notificaremos de cambios substanciales ya sea fijando un aviso prominente en nuestro sitio, o enviándole un mensaje a la dirección de correo que nos ha proporcionado y que está en el contenido de su cuenta de usuario.
        </p>
        <p class="text-justify">
            9. Información de contacto: 
            Si usted tiene cualquier pregunta sobre estas política de privacidad o sobre nuestro sitio web, por favor siéntase libre de escribirnos al correo electrónico de contacto que se encuentra en nuestra página principal.
        </p>
        <p class="text-justify">
            10. Correos electrónicos: 
            Si desea dejar de recibir correos electrónicos de parte de nuestro sitio, debes hacer clic en el link de "Cancelar notificaciones por correo" localizado en la página que muestra la información de su cuenta o perfil. Esto puede tardar hasta un día para quedar en efecto.
        </p>
    </div>
    <!--SignUp confirm buttton-->
    <div class="d-flex justify-content-center" style="padding:20px">
        <a class="btn btn-info" style="background-color:#00c0f3;margin-top:10px" href="Registro">Volver al Registro</a>
    </div>
</div>