<div class="card mx-auto text-center" style="width: 30rem; padding:0px 0px 45px 0px; margin-top:35px">
    <!-- Title of the page-->
    <div class="card-header text-center" style="padding:25px">
        <h2> Reactivación de Cuenta</h2>

    </div>
    <!--- Supervisada 06/10/2020 OC-2.6 Johan Murillo - César Vásquez -->
    <div class="card-body" style="padding:20px 30px 25px 30px">
        <p class="text-center">
            Su caso fue enviado a un administrador para su revisión. Próximamente se le notificará la resolución del caso mediante un correo electrónico.
        </p>
        <br />
        <br />
    </div>
    <!--Back to home button: Este boton es para redireccionar al inicio de la pagina-->
    <div class="d-flex justify-content-center" style="padding:20px">
        <a class="btn btn-info" style="background-color:#00c0f3;margin-top:10px" href="~/Home/Index">Volver al inicio</a>
    </div>
</div>