<!--Dev Mario Vargas B67454 Inicio AS-->
<!--RegistroExitoso-->
<div class="card mx-auto text-center" style="width: 25rem; padding:0px 0px 45px 0px; margin-top:35px">
    <!--Titulo de la pagina-->
    <div class="card-header text-center" style="padding:25px">
        <h2>¡Registro casi completo!</h2>
    </div>
    <div class="card-body" style="padding:20px 30px 25px 30px">
        <p>Para poder hacer uso de la plataforma y activar su cuenta necesitamos validar su correo electrónico, se ha enviado un mensaje de verificación.  </p>
    </div>
    <!--Boton de volver al inicio-->
    <div class="d-flex justify-content-center" style="padding:10px">
        <a class="btn btn-info" style="background-color:#00c0f3;margin-top:10px" href="~/Home/Index">Volver al inicio</a>
    </div>
</div>